* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s linear;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

body {
    background-color: #fff7f7;
}

[class*="__container"] {
    max-width: 1880px;
    margin: 0 auto;
}

ul li {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: black;
    cursor: pointer;
}

/* ========================== Header ========================== */

header {
    margin: 30px 20px;
    height: 126px;
    border-radius: 40px;
    background: #ffffff;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_container {
    padding: 30px 33px;
}

.list__link {
    color: black;
}

.header_list {
    gap: 60px;
    display: flex;

}

.btn {
    width: 215px;
    height: 65px;
    cursor: pointer;
    border-radius: 20px;
}

.connect {
    background-color: black;
}

.connect a {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
    font-family: "Manrope", sans-serif;
}

.kabinet {
    margin-left: 10px;
    margin-right: 30px;
    width: 230px;
    height: 65px;
}

.kabinet a {
    color: #000000;
    font-weight: 500;
    font-size: 19px;
    font-family: "Manrope", sans-serif;
}

.socials__list {
    gap: 30px;
    display: flex;

}

.online__container {
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-size: 50px;
}

.license {
    margin: 40px;
    color: #9F9D9D;
}

span {
    background: linear-gradient(94.87deg, #E52FB1 53.59%, #4043BC 84.59%);, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraf {
    font-size: 21px;
    padding: 20px 0;
}

.free {
    width: 305px;
    margin-left: 10px;
}

.free a {
    color: #000000;
    font-weight: 500;
    font-size: 19px;
    font-family: "Manrope", sans-serif;
}








