.about__content {
  text-align: center;
  background: #fff;
  padding: 5rem 0 2.5rem 0;
  margin: 5rem 0.625rem 1.25rem 0.625rem;
  border-radius: var(--border-radius);

  &-title {
    font-size: 3.15rem;
    font-weight: 600;
  }

  &-description {
    padding-top: 1.25rem;
    padding-bottom: 5rem;
  }
}


.about__content-cart {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }

  &-item {
    padding-top: 90px;
    margin-right: 1.25rem;
    text-align: center;
    width: 100%;
    height: 325px;
    background: #fff;
    border-radius: var(--border-radius);

    @include mobile {
      width: 100%;
      margin: 0.75rem;
      height: 205px;
    }


    h2 {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-size: 3.125rem;
      background: linear-gradient(94.87deg, #E52FB1 53.59%, #4043BC 84.59%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-one {
      margin-left: 0.625rem;
    }

    &-last {
      margin-left: 0.625rem !important;
    }
  }
}


.about__content-licence {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.25rem 0.625rem 1.25rem 0.625rem;
  border-radius: var(--border-radius);

  @include mobile {
    flex-direction: column;
    margin: 10px;
  }

  &-title {
    //padding: 5rem 0 3.93rem 5rem;
    text-transform: uppercase;
    font-size: 2.875rem;
    font-weight: 600;

    @include mobile {
      font-size: 1.2rem;
      padding-top: 30px !important;
      padding-left: 30px !important;
    }
  }

  &-description {
    font-size: 1rem;
    padding-top: 1rem;

    @include mobile {
      padding: 20px;
      font-size: 1rem;
    }
  }

}



.experience__img {
  margin: 3.75rem 0.75rem 10rem 0.75rem;

  img {
    width: 100%;
  }

}