.hero__button {
  margin-top: 2.5rem;
  &-alive {
    @include button(16.25rem, 4rem, #fff, #000);

    @include mobile {
      max-width: 25.625rem;
      margin-inline: auto;
      @include button(100%, 4rem, #fff, #000)
    }

  }

  &-restart {
    margin-left: 0.625rem;
    @include button(19rem, 4rem, #000, #fff);

    @include mobile {
      margin-top: 0.625rem;
      max-width: 25.625rem;
      margin-inline: auto;
      @include button(100%, 4rem, #000, #fff)
    }
  }
}