.partners__content {
  text-align: center;

  h2 {
    font-size: 3.125rem;
    font-weight: 600;
    padding-bottom: 3.75rem;
    text-transform: uppercase;
  }


  &-link img {
    width: 40px;
    height: 45px;
  }

  &-list {
    display: flex;
    gap: 4.125rem;
    align-items: center;
    justify-content: center;

    @include mobile {
      display: grid;
      grid-template-columns: repeat(3, 0.5fr);
    }
  }
}