.section {
  text-align: center;
  .hero__licence {
    margin-top: 3.75rem;

    @include mobile {
      color: #9F9D9D;
      font-size: 1rem;
    }
  }

  .hero__image {
    margin-top: 3.75rem;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("../../images/pos.svg");

    @include mobile {
      background-image: url("../../images/Group 96.svg");
      max-width: 36.25rem;
      height: 15.625rem;
    }

  }

  .hero__title {
    font-size: 3.125rem;
    font-weight: 600;
    text-transform: uppercase;

    @include mobile {
      font-size: 1.825rem;
    }

    span {
      background: linear-gradient(94.87deg, #E52FB1 53.59%, #4043BC 84.59%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}