@mixin flex-center($isInLine: false) {
  @if $isInLine {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abc-center {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin reset-link {
  color: inherit;
  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin header__button($backgroundColor) {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  border: none;
  background-color: $backgroundColor;
}

@mixin button($color, $background-color) {
  width: 216px;
  height: 66px;
  cursor: pointer;
  border: none;
  font-weight: 400;
  color: #{$color};
  background-color: #{$background-color};
  border-radius: var(--border-radius-small);
}