:root {
 --container-width: 117.5rem;
 --color-dark: #000000;
 --border-radius: 2.5rem;
 --border-radius-small: 1.25rem;
 --border-radius-btn: 1.25rem;
 --color-light: #fff7f7;
 --transition-duration: all 0.2s linear;
}
