:root {
 --container-width: 1880px;
 --color-dark: #000000;
 --border-radius: 40px;
 --border-radius-small: 20px;
 --border-radius-btn: 20px;
 --color-light: #fff7f7;
 --transition-duration: all 0.2s linear;
}
